<h1>商品一覧</h1>  <%= link_to "新規登録", new_admin_item_path %>
<div>
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜き価格</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </table>
</div>
