<div class="container text-center">
  <h1>About</h1>
  <div class="row">
    <div class="col p-5">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </div>
  </div>
  <div class="row">
    <div class="col p-5">
      <%= image_tag "cake2.jpg", class: "background-image" %>
    </div>
  </div>
</div>