<h1>注文履歴一覧</h1>
<table>
  <thead>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払金額</th>
  </thead>
  <% @order_items.each do |order_item| %>
  <tbody>
    <tr>
      <td><%= order_item.created_at.trftime('%Y/%m/%d') %></td>
    </tr>
  </tbody>
  <% end %>
</table>